<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon.png">
    <link rel="icon" type="image/png" href="img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        HF transplant
    </title>
    <meta name="description" content="">


    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">

    <!-- Place favicon.ico in the root directory -->
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

    <!-- CSS Files -->
    <link href="css/material-kit.css?v=2.0.4" rel="stylesheet" />

    <link rel="stylesheet" href="css/custom.css">
</head>

<body class="landing-page sidebar-collapse">

<div class="menu"></div>


<div class="page-header-secondary header-filter" data-parallax="true" style="background-image: url('img/clinic.jpg')">

</div>

<div class="main main-raised">

    <div class="container">

        <div class="section section-contacts" id="TC_title">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="text-center title">About us </h2>
                    <h4 class="text-center description">The clinic and why we are unique</h4>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-nav-tabs text-center">
                                    <div class="card-body">
                                        <h4 class="card-title">The clinic</h4>
                                        <p class="card-text">The HHH Natural Hair Transplant Clinic of Dr. Viroj Vong is a hair center located in Thailand. It is equipped with the most modern equipment. It is a leading institution with an international reputation that specializes in solving hair loss problems.
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card card-nav-tabs text-center">
                                <div class="card-body">
                                    <h4 class="card-title">Dr. Vong</h4>
                                    <p class="card-text">Dr. Vong and his team have almost 30 years of experience in the field of hair improvement and hair transplants at the clinic in downtown Bangkok. The center never needed to advertise and since its opening has had plenty of clients just from word-by-mouth publicity. As a result, for decades patients have made their way to the clinic not only from all over Thailand, but from all over the world. This is not surprising because at approximately $2 – $3 per graft this surgical procedure is also very affordable here.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card card-nav-tabs text-center">
                                <div class="card-body">
                                    <h4 class="card-title">Call today to hear how Dr. Vong and his team can help you with your hair desires! </h4>
                                    <p class="card-text">They are true hair virtuosos, exercising their profession for both men and women with commitment and creativity. Every day the highest quality hair cosmetic craftsmanship and hair transplants are performed here. The clinic is easily accessible via the subway or by taxi. Every taxi driver will bring you there trouble free from the airport or from your hotel. And do not forget, Bangkok is a fascinating and vibrant city with many temples and at short distance from beautiful, rural landscapes with sunny beaches and beautiful hillsides.
                                </div>
                            </div>
                        </div>


                        <div class="card-footer text-muted">
                            <a href="#TC_title">Back to Top</a>
                        </div>

                        <h4 class="text-center description"><strong>Copyright © 2018 HF Hair Transplant www.rpemery.com.au
                        </strong>
                        </h4>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer footer-default">
</footer>

<!--   Core JS Files   -->
<script src="js/core/jquery.min.js" type="text/javascript">
</script>
<script src="js/core/popper.min.js" type="text/javascript">
</script>
<script src="js/core/bootstrap-material-design.min.js" type="text/javascript">
</script>
<script src="js/plugins/moment.min.js">
</script>
<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="js/plugins/bootstrap-datetimepicker.js" type="text/javascript">
</script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="js/plugins/nouislider.min.js" type="text/javascript">
</script>
<!--	Plugin for Sharrre btn -->
<script src="js/plugins/jquery.sharrre.js" type="text/javascript">
</script>
<!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
<script src="js/material-kit.js?v=2.0.4" type="text/javascript">
</script>
<script src="js/utils.js">
</script>
</body>

</html>
