<script src="../js/core/jquery.min.js" type="text/javascript">
</script>
<script src="../js/core/popper.min.js" type="text/javascript">
</script>
<script src="../js/core/bootstrap-material-design.min.js" type="text/javascript">
</script>
<script src="../js/plugins/moment.min.js">
</script>
<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="../js/plugins/bootstrap-datetimepicker.js" type="text/javascript">
</script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="../js/plugins/nouislider.min.js" type="text/javascript">
</script>
<!--	Plugin for Sharrre btn -->
<script src="../js/plugins/jquery.sharrre.js" type="text/javascript">
</script>
<!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
<script src="../js/material-kit.js?v=2.0.4" type="text/javascript">
</script>

<script src="../js/utils.js" type="text/javascript">
</script>

<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<script>
  window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
  ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>


