
    <div class="container">
        <nav class="float-left">
            <ul>
                <li>
                    <a href="about_us.html">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="t_c.html">
                        Terms & Conditions
                    </a>
                </li>
                <li>
                    <a href="p_p.html">
                        Privacy
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright float-right">
            &copy;
            <span class="year">
            </span>

        </div>
    </div>

